<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IService1" maxReceivedMessageSize="1048576">
					<readerQuotas
					  maxDepth="32"
					  maxStringContentLength="1048576"
					  maxArrayLength="1048576"
					  maxBytesPerRead="4096"
					  maxNameTableCharCount="16384" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8733/Design_Time_Addresses/ServiceProxyBike/Service1/"
					  binding="basicHttpBinding"
					  bindingConfiguration="BasicHttpBinding_IService1"
					  contract="ProxyBikeSOAP.IService1"
					  name="BasicHttpBinding_IService1" />
		</client>
	</system.serviceModel>
</configuration>
