<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IService1" maxReceivedMessageSize="2147483647"/>
			</basicHttpBinding>
		</bindings>

		<client>
			<endpoint address="http://localhost:8733/Design_Time_Addresses/ServiceProxyBike/Service1/"
					  binding="basicHttpBinding"
					  bindingConfiguration="BasicHttpBinding_IService1"
					  contract="ProxyBikeSOAP.IService1"
					  name="BasicHttpBinding_IService1" />
		</client>

		<services>
			<service name="BackendBiking.Service1" behaviorConfiguration="ServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/BackendBiking/Service1"/>
					</baseAddresses>
				</host>

				<!-- Endpoint REST -->
				<endpoint address="rest"
						  binding="webHttpBinding"
						  contract="BackendBiking.IService1"
						  behaviorConfiguration="webBehavior" />

				<!-- Endpoint SOAP -->
				<endpoint address="soap"
						  binding="basicHttpBinding"
						  contract="BackendBiking.IService1"/>

				<!-- Endpoint mex pour VS -->
				<endpoint address="mex"
						  binding="mexHttpBinding"
						  contract="IMetadataExchange"/>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<!-- Active la publication des métadonnées -->
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>

			<endpointBehaviors>
				<behavior name="webBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>

</configuration>
